// Definitions


div.definition_wrapper
{
    margin-top: 1rem;
}

span.definition_label
{
    font-weight: bold;
}

div.definition_content
{
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: .15rem solid black;
}

div.definition_text:hover
{
  transition: all .2s ease;

  background: darken($background-color, 10%);
}

div.definition_lean
{
  display: none ;
}
