div.proof_wrapper
{
    margin-top: 1rem;
		width: 100%;
}
div.proof_wrapper::after {
  content: "";
  clear: both;
  display: table;
}

span.proof_label
{
    font-weight: bold;
		display: block;
}

span.proof_qed
{
    font-weight: bold;
		display: block;
}


div.proof_content
{
    padding-left: .5rem;
}

div.small_proof_content
{
    padding-left: .5rem;
		width: 60%;
		float: left,
}

div.small_tactic_state
{
    padding-left: .5rem;
		width: 40%;
		float: left;
}

span.proof_item_text:hover
{
  transition: all .2s ease;

  background: darken($background-color, 10%);
}

div.proof_item_lean {
  @if $show-lean-proofs {
	display: block; 
  } @else {
	display: none; }
}

div.proof_line {
  display: flex;
}

span.tactic_left:hover
{ transition: all .2s ease;
  background: darken($background-color, 10%); }

span.tactic_left
{ width: 3rem; 
  background: darken($background-color, 5%);}
span.tactic_right
{ margin-left: 2rem;
  width: 3rem;
  background: darken($background-color, 5%);}
span.tactic_right:hover
{ transition: all .2s ease;
  background: darken($background-color, 10%); }
span[class^="tactic_state_"] {
  display: none;
}
