$titles-color: rgb(15,47,72);

$background-color: rgb(232, 232, 232);
$main-text-color: rgb(10, 10, 20);

$content-line-height: 1.4rem;

$smallskipamount: 1rem;
$show-lean-proofs: false;
$show-lean-statements: false;
@import 'common';
